<div class="contents row">
  <div class='Contentsinfo'>
          <i class="fas fa-coffee fa-2x"></i>
          </div>
          <div class='Service'>
            自宅で飲む、自分に合うコーヒーを探せるサービスです。
          </div>
          <div class='Recommend'>
            コーヒーに詳しくない方は
            <br>
            自分に合ったコーヒーを探してみてください。
            <br>
            自分だけの究極のコーヒーを探してみてはいかがでしょうか。
          </div>
          <ul class= "Category"> 
              <li class= "beans"><a href="/coffee/indexbeans">お勧めコーヒー豆</li></a>    
              <li class= "recipe"><a href="/coffee/indexorder">美味しいコーヒーの淹れ方の手順</li></a>  
              <li class= "products"><a href="/coffee/indexproducts">カテゴリー別人気ランキング</li></a>
          </ul>
        </div>
      </div>
    </div>  
  <div class='contactform'>
    <a class='twitter' href="https://twitter.com/login?lang=ja">twitter</a>
    <div class='contact'>お問い合わせ</div>
    <div class='share'>シェア</div>
  </div>
</div>
  <%# <p><%= @name %> 
  <%# さんのお気に入り一覧</p>  %>
  <%# <% @products.each do |product| %>
  <%# <ul>
    <li><%= product.name %>
    <%# <li><%= product.image %>
  <%# </ul> %>
  <%# <% end %> 
