<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="order.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <title>Gcoffee</title>
<div class='Body'>
  <div class= "top">
  おいしいコーヒーを飲むための手順
    <h5>自分で豆を選び、自分で豆を挽き、自分で淹れる</h5>
    <h6>大きく分けると、ドリップ、サイフォン、プレス、エスプレッソ、などがあり、<br>
    香り、酸味、コクなど、お好みの味によって抽出器具、抽出方法が変わってきます。<br>
    今回は最も人気の高いドリップ式をご紹介いたします。</h6>
    <div class ="prep">準備
      <p>ケトル（ポット）</p>
      <p>ペーパーフィルター</p>
      <p>ドリッパー、サーバー</p>
      <p>計量スプーン</p>
      <p>コーヒー豆（人数分）</p>
      <p>コーヒーカップ(人数分)</p>
    </div>
  <div class="all">  
    <div class="step1">
        <div class="title">Step1</div>
        <%= image_tag "/ryan-jvr-Jpho238RtqY-unsplash.jpg", width: "150px", class: "kettle" %>
      </div>  
      <div class= "info">
        <div class="text">
          コーヒーを冷まさないように<br>
          ドリッパーやコーヒーカップなどの器具を<br>
          あらかじめ温めておきます。
        </div>  
      </div>
    </div>
    <div class="step2">
      <div class="title2">Step2</div>
      <%= image_tag "/tyler-nix-7r12qgK11PI-unsplash.jpg", width:"130px" %>
      <div class= "info">
        <div class="text1">
          <h5>ドリッパーにペーパーフィルタをセットしてコーヒー粉を量り、ドリッパーに入れる</h5>
          <p>計量スプーンでいれたい杯数分のコーヒー粉を<br>
          1杯で10ｇ(約一人分)量れるスプーンを使用してドリッパーに入れます。<br>
          </p>
        </div>
      </div>
    </div>
    <div class= "step3">
      <div class="title3">Step3</div>
      <%= image_tag "/tyler-nix-SX7EDWjZMXU-unsplash.jpg", width:"100px" %>
      <div class="info">
        <div class="text2">
        <h4>コーヒーを蒸らす</h4>
        <p>お湯を注ぎ、2分～3分待ちます。<br>
        注ぐお湯の量は、1人前で20ccくらいになります。<br>
        蒸らしの際、コーヒーの粉が水分を含みふっくらと膨らみます。
        </p>
        </div>
      </div>
    </div>
    <div class= "step4">
      <div class="title4">Step4</div>
      <%= image_tag "/tyler-nix-WNI86Q3FjrM-unsplash.jpg", width:"100px"%>
      <div class="info">
        <div class="text3">
          <h4>コーヒーを人数分まで抽出</h4>
          <p>蒸らしが終わり次第、お湯を再度注ぎます。<br>
          フィルタを外しコーヒーの表面の泡には、<br>
          余分な成分が含まれていますので、最後まで抽出しきらないようにご注意ください。
          </p>
      </div>
  </div>
  </div>
  <div class='contactform'>
    <a class='twitter' href="https://twitter.com/login?lang=ja">twitter</a>
    <div class='contact'>お問い合わせ</div>
    <div class='share'>シェア</div>
  </div>
</div>  