<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="beans.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <title>Gcoffee</title>
<div class='Body'>
  <Body>
    <div class="top">コーヒー豆リスト</div>
    <div class="morelist">
      <div class= "difference">
        ブレンドとストレートの違い
        <p> ストレートは1種類の豆によって生まれる、<br>
        その産地ごとの特徴や個性、香りなどの豆本来の味が引き出され、<br>
        完成したおいしさをダイレクトに堪能できます。<br>
        逆にブレンドは数種類の豆を混ぜ合わせ、豆の風味が調和されることで、<br>
        コーヒー豆一種類ではだせないまろやかな味わいを楽しむことができます。<br>
      </div> 
      <div class= "list01">
        ブレンド
        <p> ブレンド」は、さまざまな国や地域、<br>
        品種のコーヒー豆を混ぜ合わせて作ったコーヒーの種類です。
        </p>
      </div>   
      <div class= "list02">
        ストレート
        <p> 同じ地域で生産されたコーヒー豆だけを使ったコーヒーの種類です。<br>
        「ブラジル」、「コロンビア」、「キリマンジャロ」といった地名が<br>
         そのまま商品名になっているコーヒーは、多くの場合ストレートになります。
        </p> 
      </div>
      <div class= "Straight">世界三代コーヒー
      <div class= "Best">
        <div class= "Blue">ブルーマウンテン
          <%= image_tag "/1860230_m.jpg", width: "150px" %>
          <p>ジャマイカで生産される一部のものがブルーマウンテンと呼ばれます。<br>
          品のある香り、甘味を含んだしっかりとした味わいを楽しめ、<br>
          バランスの良いコーヒー豆。
          </p>
        </div>
        <div class= "Kiriman">キリマンジャロ  
          <%= image_tag "/2554649_s.jpg", width: "150px" %>
          <p>タンザニア産のコーヒー豆。<br>
          強い酸味が特徴で苦味が深いコーヒー豆です。
          </p>
        </div>
        <div class= "Hawaii"> ハワイコナ 
          <%= image_tag "/320338_s.jpg", width: "150px"%>
          <p>火山灰の影響を受けて栄養を蓄えて栽培されます。<br>
          酸味とコク、風味のあるコーヒー豆です。
          </p>
        </div>  
      </div>    
    </div>  
  </Body>
  <div class='contactform'>
    <a class='twitter' href="https://twitter.com/login?lang=ja">twitter</a>
    <div class='contact'>お問い合わせ</div>
    <div class='share'>シェア</div>
  </div>
</div>


